body{
    font-family: arial, helvetica, sans-serif;
    min-width: 960px;
}
.wrap{
   width: 960px;
   margin: 0px auto;
   overflow: hidden;
}
#nav{
   width: 100%;
   background-color: #cccccc;
   overflow: hidden;
}

#logo a{
   display: block;
   background:url('../pics/logo_smaller.png') no-repeat;
   background-position: left top;
   height: 50px;
   width: 180px;
   float: left;
}

#logo a:hover{
   background-image:url('../pics/logo_smaller_highlight.png');
}

ul.navlist{
   list-style: none;
   width: 660px;
   margin-top: 10px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   float: right;
}
ul.navlist li{
   display: block;
   margin: 5px;
   margin-bottom: 0px;
   float: left;
}
ul.navlist li a{
   display: block;
   padding: 8px;
   text-decoration: none;
   color: #dddddd;
   background-color: #777777;
   font-weight: bold;
}
ul.navlist li a:hover{
   background-color: #aaaaaa;
}
ul.navlist li#current{
   background-color: white;
   display: block;
   padding: 8px;
   float: left;
   font-weight: bold;
}

#main-tree{
   width: 600px;
   float: left;
}

#information-box{
   width: 340px;
   height: 500px;
   margin: 20px 0px;
   padding: 5px;
   float: right;
   border: solid #dddddd;
}
#footer{
   margin-top: 20px;
   height: 120px;
   background-color: #cccccc;
}
