body{
    font-family: arial, helvetica, sans-serif;
}
.wrap{
   max-width: 960px;
   margin: 0px auto;
   overflow: hidden;
}
#nav{
   width: 100%;
   background-color: #cccccc;
   overflow: hidden;
}

#logo a{
   display: block;
   background:url('../pics/logo2.png') no-repeat;
   background-position: left top;
   height: 65px;
   width: 240px;
   float: left;
}

#logo a:hover{
   background:url('../pics/logo2-highlight.png') no-repeat;
}

ul.navlist{
   list-style: none;
   width: 600px;
   margin-top: 40px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   float: right;
}
ul.navlist li{
   display: block;
   margin: 5px;
   margin-bottom: 0px;
   float: left;
}
ul.navlist li a{
   display: block;
   padding: 5px;
   text-decoration: none;
   background-color: green;
}
ul.navlist li#current{
   background-color: white;
   display: block;
   padding: 5px;
   float: left;
}

#main-tree{
   width: 600px;
   float: left;
}

#information-box{
   width: 340px;
   height: 500px;
   margin: 20px 0px;
   padding: 5px;
   float: right;
   border: solid #dddddd;
}
#footer{
   margin-top: 20px;
   height: 120px;
   background-color: #cccccc;
}
