#pshp-map{
   height: 485px;
   width: 660px;
   background:url('../pics/map.png') top left no-repeat;
   position: relative;
}
#pshp-map li {
    margin: 0; 
    padding: 0; 
    list-style: none;
    position: absolute;
}
#pshp-map li, #pshp-map a {
    display: block;
}
#kih{
   top:26px;
   left: 188px;
   width:54px;
   height: 52px;
   z-index: 100;
}
#kih:hover{
   background: transparent url('../pics/map.png') -188px -1526px no-repeat;
}
#vir{
   top:0px;
   left: 220px;
   width:140px;
   height: 90px;
}
#vir:hover{
   background: transparent url('../pics/map.png') -220px -2000px no-repeat;
}
#mv{
   top:50px;
   left: 338px;
   width:108px;
   height: 80px;
   z-index: 100;
   -webkit-border-radius: 0px 0px 0px 60px;
   -moz-border-radius: 0px 0px 0px 60px;
   border-radius: 0px 0px 0px 60px;
}
#mv:hover{
   background: transparent url('../pics/map.png') -338px -1050px no-repeat;
}
#jam{
   top:60px;
   left: 420px;
   width:166px;
   height: 152px;
   z-index: 100;
   -webkit-border-radius: 0px 60px 0px 80px;
   -moz-border-radius: 0px 60px 0px 80px;
   border-radius: 0px 60px 0px 80px;
}
#jam:hover{
   background: transparent url('../pics/map.png') -420px -1560px no-repeat;
}
#kuh{
   top:168px;
   left: 468px;
   width:130px;
   height: 100px;
   z-index: 100;
}
#kuh:hover{
   background: transparent url('../pics/map.png') -468px -2168px no-repeat;
}
#par{
   top:35px;
   left: 105px;
   width:135px;
   height: 90px;
   z-index:50;
}
#par:hover{
   background: transparent url('../pics/map.png') -105px -535px no-repeat;
}
#ylo{
   top:65px;
   left: 183px;
   width:122px;
   height: 168px;
}
#ylo:hover{
   background: transparent url('../pics/map.png') -183px -1065px no-repeat;
}
#ruo{
   top:67px;
   left: 282px;
   width:118px;
   height: 98px;
   z-index: 200;
   -webkit-border-radius: 0px 60px 0px 40px;
   -moz-border-radius: 0px 60px 0px 40px;
   border-radius: 0px 60px 0px 40px;
}
#ruo:hover{
   background: transparent url('../pics/map.png') -282px -1567px no-repeat;
}
#juu{
   top:128px;
   left: 364px;
   width:73px;
   height: 52px;
   z-index: 100;
   -webkit-border-radius: 20px 10px 10px 45px;
   -moz-border-radius: 20px 10px 10px 45px;
   border-radius: 20px 10px 10px 45px;
}
#juu:hover{
   background: transparent url('../pics/map.png') -364px -2128px no-repeat;
}
#ori{
   top:146px;
   left: 340px;
   width:136px;
   height: 102px;
   -webkit-border-radius: 20px 10px 10px 50px;
   -moz-border-radius: 20px 10px 10px 50px;
   border-radius: 20px 10px 10px 50px;
}
#ori:hover{
   background: transparent url('../pics/map.png') -340px -1146px no-repeat;
}
#kan{
   top:210px;
   left: 294px;
   width:202px;
   height: 108px;
}
#kan:hover{
   background: transparent url('../pics/map.png') -294px -1710px no-repeat;
}
#pal{
   top:260px;
   left: 336px;
   width:164px;
   height: 88px;
   -webkit-border-radius: 50px 20px 40px 20px;
   -moz-border-radius: 50px 20px 40px 20px;
   border-radius: 50px 20px 40px 20px;
}
#pal:hover{
   background: transparent url('../pics/map.png') -336px -1260px no-repeat;
}
#ika{
   top:105px;
   left: 93px;
   width:163px;
   height: 73px;
}
#ika:hover{
   background: transparent url('../pics/map.png') -93px -1605px no-repeat;
}
#ham{
   top:172px;
   left: 120px;
   width:120px;
   height: 66px;
}
#ham:hover{
   background: transparent url('../pics/map.png') -120px -672px no-repeat;
}
#nok{
   top:220px;
   left: 153px;
   width:95px;
   height: 85px;
}
#nok:hover{
   background: transparent url('../pics/map.png') -153px -1720px no-repeat;
}
#tam{
   top:148px;
   left: 236px;
   width:102px;
   height: 122px;
   -webkit-border-radius: 80px 20px 50px 40px;
   -moz-border-radius: 80px 20px 50px 40px;
   border-radius: 80px 20px 50px 40px;
}
#tam:hover{
   background: transparent url('../pics/map.png') -236px -2148px no-repeat;
}
#pir{
   top:250px;
   left: 218px;
   width:53px;
   height: 40px;
}
#pir:hover{
   background: transparent url('../pics/map.png') -218px -1250px no-repeat;

}
#lem{
   top:267px;
   left: 231px;
   width:72px;
   height: 77px;
}
#lem:hover{
   background: transparent url('../pics/map.png') -231px -767px no-repeat;
}
#val{
   top:304px;
   left: 278px;
   width:96px;
   height: 100px;
}
#val:hover{
   background: transparent url('../pics/map.png') -278px -2304px no-repeat;
}
#sas{
   top:176px;
   left: 25px;
   width:147px;
   height: 178px;
   -webkit-border-radius: 40px 70px 40px 50px;
   -moz-border-radius: 40px 70px 40px 50px;
   border-radius: 40px 70px 40px 50px;
}
#sas:hover{
   background: transparent url('../pics/map.png') -25px -1176px no-repeat;
}

#ves{
   top:285px;
   left: 158px;
   width:100px;
   height: 75px;
}
#ves:hover{
   background: transparent url('../pics/map.png') -158px -2285px no-repeat;
}
#aka{
   top:340px;
   left: 204px;
   width:105px;
   height: 80px;
   -webkit-border-radius: 20px 30px 40px 60px;
   -moz-border-radius: 20px 30px 40px 60px;
   border-radius: 20px 30px 40px 60px;
}
#aka:hover{
   background: transparent url('../pics/map.png') -204px -1340px no-repeat;

}
#pun{
   top:346px;
   left: 64px;
   width:106px;
   height: 94px;
   -webkit-border-radius: 0px 0px 60px 0px;
   -moz-border-radius: 0px 0px 60px 0px;
   border-radius: 0px 0px 60px 0px;
}
#pun:hover{
   background: transparent url('../pics/map.png') -64px -846px no-repeat;
}
#urj{
   top:348px;
   left: 145px;
   width:122px;
   height: 126px;
   -webkit-border-radius: 0px 80px 0px 40px;
   -moz-border-radius: 0px 80px 0px 40px;
   border-radius: 0px 80px 0px 40px;
}
#urj:hover{
   background: transparent url('../pics/map.png') -145px -1848px no-repeat;
}
